/* ここから下に記載していく */
/*font-family: AXIS+SF Pro JP apple / Gotham netfex /Century Gothic Helvetica 定番 / Avenir samsumg / Futura LV / DIN tokyo2020
font-family:'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */

body{
  margin:0px;
  width:1200px;
  background-color:rgb(41, 235, 241);
  color:#222222;
  font-family:"ヒラギノ角ゴ ProN";
  line-height:1.8em;
}
.body{
  margin:0;
  width:100%;
}

/*出現のjava script*/
.sa {
  opacity: 0.0;
  transition: all .5s ease;}
.sa.show {
  opacity: 1;
  transform: none;}
.sa–up{
  transform: translate(0, 100px);}
.sa--lr {
    transform: translate(-100px, 0);}
.sa--rl {
    transform: translate(100px, 0);}
  
  /*header*/
.header-top{
  width:1200px;
  height:100px;
  z-index: 10;
  position:fixed;
  display:flex;
  top:0%;
}
.header-top img{
  width:20%;
  float:left;
  margin-right:5%;
}
.header-top input{
  padding-top:10px;
  width:10%;
  z-index:11;
}
.header-ul {
   width:70%
}

.header-ul ul{
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  }
.header-top li{
    padding-right:30px;
}

/*top*/
  .top{
    width:1200px;;
    height:600px;
    position:absolute;
    top:0%;
  }
.top h{
  position:absolute;
  z-index:5;
  top:10%;
  left:32%;
  font-size: 30px;
  color:white;
}
.top h2{
  position:absolute;
  z-index:5;
  top:50%;
  left:35%;
  font-size: 20px;
  color:white;
  font-family:'Futura';
}
.top h2 span{
    color:rgb(41, 235, 241);
    font-weight: bold;
}
.top_img{
    position:absolute;
    z-index:10;
    top:10%;
    left:23%;
}
.top_vd{
    position:absolute;
    z-index:1;
}

.about_text{
    color:white;
    position:absolute;
    z-index:10;}
.about_text h {
    z-index:10;}
.about_text p {
    z-index:10;}

.top_title{
  margin-top:700px;
  width:900px;
  height:830px;
  margin-left:250px;
  line-height: 2.5em;
}
.top_title h{
font-size:40px;
line-height:3em
}
.about_img{
  z-index:2;
  opacity:0.8;
   left:40%;
  position:absolute;
}
.title_img{
  width:980px;
  height:820px;
  opacity:0.8;
  left:10%;
  position:absolute;
  background-color:#656565;
  z-index: 1;
}
.title_img2{
  width:900px;
  height:150px;
  opacity:0.8;
  left:5%;
  margin-top:480px;
  position:absolute;
  background-color:#a6a6a6;
  z-index: 2;
}

.hover10 {
  transition: all 0.6s ease 0s;
}
.hover10:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.about{
    position:absolute;
    width:100%;
    height:1200px;
    color:white;
    font-weight: bold;
}
.about img{
    width:600px;
}
.shinjuku{
    position:absolute;
    top:20%;
    left:3%;}
.shinjuku h{
    padding-left:220px;}
.shibuya {
    position:absolute;
    top:40%;
    left:45%;}
.shibuya h{
    padding-left:220px;}
.free_map{
    position:absolute;
    top:60%;
    left:3%;}
.free_map h{
    padding-left:220px;}

.about_space{
    height:1200px;
}

/*contact*/
.contact{
  text-align: center;
  margin-top:100px;
  color:white;
  line-height:1.5em;
}
.contact img{
    padding-left:400px;
}
.contact p{
  padding-bottom:30px;
}

.form_box{
  width:1000px;
  margin:0 auto;
  color:white;
}
.form_box dl{
  display: flex;
  justify-content: center;
}
.form_box dt{
  text-align: left;
  width:200px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 48px;}

.input{
  margin:8px;
  width:500px;
  height:36px;
  border:#000 /*#fafafa*/;
}

.textarea{
  margin:8px;
  width:500px;
  height:100px;
  border:#000 /*#fafafa*/;
}


.form_btn{
  display: flex;
  justify-content:center;
  color:white;
}

.sekai{
    color:white;
    padding-top:50px;
    padding-left:460px;
    font-size:18px;
}

.f_btn {
  display: block;
  width:300px;
  text-align: center;
  margin-top:20px;
  margin-bottom: 140px;
  padding:20px;
  font-size:18px;
  background-color:#dd6210;
  color:white;
}
.f_btn:hover {
  opacity:0.8;
}

.footer{
  padding:30px 0px;
  color:white;
  text-align: center;
  font-size: 16px;
  background-color: #707070;
}